<style>
    :root {
        --bs-dark: #ffffff;
        --bs-dark-subtle: #2d3135;
    }

    body {
        background-color: var(--bs-dark);
        color: #adb5bd;
    }

    .sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100%;
    }

    .nav-link {
        color: #adb5bd;
    }

    .nav-link.active,
    .nav-link:hover {
        background-color: #003b46;
        color: #fff !important;
    }

    .linha {
        border-bottom: 1px solid #858585;
    }

    .rounded-circle-initials {
        width: 32px;
        height: 32px;
        background-color: #495057;
        color: #adb5bd;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: bold;
    }

    .bg-dark-subtle {
        background-color: var(--bs-dark-subtle) !important;
    }

    .btn-verde {
        background-color: #003b46;
        border: none;
        display: flex;
        justify-content: space-between;
        padding-right: 40%;
        align-items: center;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .icone_nav {
        padding-right: 10px;
        ;
    }

    .sidebar_fixo {
        position: fixed;
    }

    .side_bar_pc {
        height: 90px;
    }

    @media (min-width: 767px) {
        .sidebar_temp {
            min-width: 250px;
            max-width: 250px;
            min-height: 100%;
        }
    }
</style>

<aside class=" h-100 p-2 sidebar_temp">
    <div
        class="sidebar bg-dark-subtle border-end border-secondary p-4 d-none d-md-flex flex-column rounded-3 sidebar_fixo ">
        <div class="mb-3">
            <a href="#" class="navbar-brand text-white d-flex align-items-center justify-content-center">
                <img src="../assets/marca/logo_branco.png" alt="" style="width: 160px" />
            </a>
        </div>
        <div class="mb-3 ">
            <a href="#" class="navbar-brand text-white d-flex align-items-center justify-content-center">
                <img src="../assets/svg/user_white.svg" alt="" />
            </a>
        </div>

        <nav class="nav flex-column mb-5">
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha active" href="#">
                <img src="../assets/svg/home_white.svg" class="icone_nav">

                Home
            </a>
            <nav class="nav flex-column mb-auto">
                <div class="dropdown">
                    <a class="nav-link rounded py-2 mb-1 d-flex align-items-center dropdown-toggle linha" href="#"
                        role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../assets/svg/painel_white.svg" alt="" class="icone_nav">
                        Paineis
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark w-100" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Painel 1</a></li>
                        <li><a class="dropdown-item" href="#">Painel 2</a></li>
                        <li><a class="dropdown-item" href="#">Painel 3</a></li>
                    </ul>
                </div>
            </nav>
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                <img src="../assets/svg/alertas_white.svg" alt="" class="icone_nav">
                Alertas</a>
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                <img src="../assets/svg/suport_white.svg" alt="" class="icone_nav">


                Suporte
            </a>
        </nav>

        <div class="mt-4">
            <h6 class="text-uppercase text-secondary mb-3 small">Gestão</h6>
            <div class="nav flex-column">
                <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                    <img src="../assets/svg/users_white.svg" alt="" class="icone_nav">
                    Usuários
                </a>
                <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                    <img src="../assets/svg/maquinas_white.svg" alt="" class="icone_nav">
                    Máquinas
                </a>
                <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                    <img src="../assets/svg/empresa_white.svg" alt="" class="icone_nav">

                    Empresa
                </a>
            </div>
        </div>
        <div class="profile-section"></div>
        <div class="mt-auto pt-3 profile-section">
            <div class="btn-secondary btn border-10 flex-row btn-verde">
                <img src="../assets/svg/painel_white.svg" alt="" class="icone_nav">

                Sair
            </div>
        </div>
    </div>
</aside>


<div class="offcanvas offcanvas-start bg-dark-subtle sidebar" tabindex="-1" id="offcanvasSidebar"
    aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header border-bottom border-secondary">
        <h5 class="offcanvas-title text-white" id="offcanvasSidebarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4 d-flex flex-column">
        <div class="mb-5">
            <a href="#" class="navbar-brand text-white d-flex align-items-center justify-content-center">
                <img src="../assets/marca/logo_branco.png" alt="" style="width: 160px" />
            </a>
        </div>

        <nav class="nav flex-column mb-5">
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha active" href="#">
                <img src="../assets/svg/home_white.svg" class="icone_nav">

                Home
            </a>
            <nav class="nav flex-column mb-auto">
                <div class="dropdown">
                    <a class="nav-link rounded py-2 mb-1 d-flex align-items-center dropdown-toggle linha" href="#"
                        role="button" id="dropdownMenuLinkOffcanvas" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../assets/svg/painel_white.svg" alt="" class="icone_nav">
                        Paineis
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark w-100" aria-labelledby="dropdownMenuLinkOffcanvas">
                        <li><a class="dropdown-item" href="#">Painel 1</a></li>
                        <li><a class="dropdown-item" href="#">Painel 2</a></li>
                        <li><a class="dropdown-item" href="#">Painel 3</a></li>
                    </ul>
                </div>
            </nav>
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                <img src="../assets/svg/alertas_white.svg" alt="" class="icone_nav">
                Alertas</a>
            </a>
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                <img src="../assets/svg/suport_white.svg" alt="" class="icone_nav">


                Suporte
            </a>
        </nav>

        <div class="mt-4">
            <h6 class="text-uppercase text-secondary mb-3 small">Gestão</h6>
            <div class="nav flex-column">
                <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                    <img src="../assets/svg/users_white.svg" alt="" class="icone_nav">
                    Usuários
                </a>
                <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                    <img src="../assets/svg/maquinas_white.svg" alt="" class="icone_nav">
                    Máquinas
                </a>
                <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha" href="#">
                    <img src="../assets/svg/empresa_white.svg" alt="" class="icone_nav">

                    Empresa
                </a>
            </div>
        </div>
        <div class="profile-section"></div>
        <div class="mt-auto pt-3 profile-section">
            <div class="btn-secondary btn border-10 flex-row btn-verde">
                <img src="../assets/svg/painel_white.svg" alt="" class="icone_nav">

                Sair
            </div>
        </div>
    </div>
</div>