<aside class=" h-50 p-1 sidebar_temp">
    <div
        class="sidebar_temp bg-dark-subtle border-end border-secondary p-4 d-none d-md-flex flex-column rounded-3 sidebar_fixo "
        style="padding-bottom: 100px;">
        <div class="mb-3">
            <a href="home.html" class="navbar-brand text-white d-flex align-items-center justify-content-center">
                <img src="../assets/marca/logo_branco.png" alt="" style="width: 160px" />
            </a>
        </div>
        <div class="mb-3 " id="editarInfoUsuarioPC">
            <a href="usuarioConfig.html" class="navbar-brand text-white d-flex align-items-center justify-content-center">
                <img src="../assets/svg/user_white.svg" alt="" />
            </a>
        </div>
        <nav class="nav flex-column mb-5" id="alertaSuportePC">
            <!-- active -->
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha " href="home.html" id="li_Home">
                <img src="../assets/svg/home_white.svg" class="icone_nav">
                Home
            </a>
            <nav class="nav flex-column mb-auto" id="painelPC">
            </nav>
        </nav>
        <div class="mt-4" id="gestaoAreaPC">
        </div>
        <div class="profile-section"></div>
        <div class="mt-auto pt-3 profile-section">
            <a href="login.html">
              <div class="btn-secondary btn border-10 flex-row btn-verde">
                <img src="../assets/svg/painel_white.svg" alt="" class="icone_nav">
                Sair
              </div>
            </a>
        </div>
    </div>
</aside>

<div class="offcanvas offcanvas-start bg-dark-subtle sidebar" tabindex="-1" id="offcanvasSidebar"
    aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header border-bottom border-secondary">
        <h5 class="offcanvas-title text-white" id="offcanvasSidebarLabel">
            Menu
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4 d-flex flex-column">
        <div class="mb-3">
            <a href="#" class="navbar-brand text-white d-flex align-items-center justify-content-center">
                <img src="../assets/marca/logo_branco.png" alt="" style="width: 160px" />
            </a>
        </div>
        <div class="mb-3 " id="editarInfoUsuarioMobile">
            <a href="#" class="navbar-brand text-white d-flex align-items-center justify-content-center">
                <img src="../assets/svg/user_white.svg" alt="" />
            </a>
        </div>
        <nav class="nav flex-column mb-5" id="alertaSuporteMobile">
            <a class="nav-link rounded py-2 mb-1 d-flex align-items-center linha active" href="#">
                <img src="../assets/svg/home_white.svg" class="icone_nav">
                Home
            </a>
            <nav class="nav flex-column mb-auto" id="painelMobile">
            </nav>
        </nav>
        <div class="mt-4" id="gestaoAreaMobile">
        </div>
        <div class="profile-section"></div>
        <div class="mt-auto pt-3 profile-section">
            <div class="btn-secondary btn border-10 flex-row btn-verde">
                <img src="../assets/svg/painel_white.svg" alt="" class="icone_nav">
                Sair
            </div>
        </div>
    </div>
</div>