<aside class="sidebar-desktop-fixed">
  <div class="sidebar-header-fixed">
    <a href="home.html" class="sidebar-logo">
      <img src="../assets/marca/logo_branco.png" alt="OBERON Logo" class="logo-expanded" />
    </a>
  </div>

  <div class="sidebar-content-fixed">
    <nav class="sidebar-nav-fixed">
      <a class="nav-item-fixed" href="home.html" id="menu_home">
        <img src="../assets/svg/home_white.svg" alt="Home" class="nav-icon-fixed" />
        <span class="nav-text-fixed">Home</span>
      </a>

      <div class="nav-item-accordion" id="menu_paineis_container">
        <a class="nav-link-accordion-toggle" data-bs-toggle="collapse" href="#submenuPainel" role="button"
          id="menu_paineis" aria-expanded="false" aria-controls="submenuPainel">
          <img src="../assets/svg/painel_white.svg" alt="Painéis" class="nav-icon-fixed" />
          <span class="nav-text-fixed">Painéis</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="accordion-arrow">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </a>
        <div class="collapse" id="submenuPainel">
          <a class="submenu-item" href="painel.html" id="painelMonitoramento">
            <span class="nav-text-fixed">Monitoramento Ativo</span>
          </a>
          <a class="submenu-item" href="painelEspecifico.html" id="painelHistorico">
            <span class="nav-text-fixed">Análise Histórica</span>
          </a>
          <a class="submenu-item" href="DashboardMiguel.html" id="painelGestaoAtivos">
            <span class="nav-text-fixed">Gestão de Ativos</span>
          </a>
           <a class="submenu-item" href="dashboardDandara.html" id="painelEstrategico">
            <span class="nav-text-fixed">Gestão de Risco</span>
          </a>
        </div>
      </div>

      <a class="nav-item-fixed" href="alertas.html" id="menu_alertas">
        <img src="../assets/svg/alertas_white.svg" alt="Alertas" class="nav-icon-fixed" />
        <span class="nav-text-fixed">Alertas</span>
      </a>
    </nav>

    <div class="sidebar-section-title-fixed" id="menu_gestao">
      <span class="nav-text-fixed">Gestão</span>
    </div>
    <nav class="sidebar-nav-fixed">
      <a class="nav-item-fixed" href="gerenciamentoUsuarios.html" id="menu_usuarios">
        <img src="../assets/svg/users_white.svg" alt="Usuários" class="nav-icon-fixed" />
        <span class="nav-text-fixed">Usuários</span>
      </a>
      <a class="nav-item-fixed" href="gerenciamentoMaquinas.html" id="menu_maquinas">
        <img src="../assets/svg/maquinas_white.svg" alt="Máquinas" class="nav-icon-fixed" />
        <span class="nav-text-fixed">Máquinas</span>
      </a>
      <a class="nav-item-fixed" href="auditoria.html" id="nmenu_auditoria">
        <img src="../assets/svg/auditoria_white.svg" alt="Auditoria" class="nav-icon-fixed" />
        <span class="nav-text-fixed">Auditoria</span>
      </a>
    </nav>
    <div class="sidebar-section-title-fixed" id="menu_admin">
      <span class="nav-text-fixed">Administração</span>
    </div>
    <nav class="sidebar-nav-fixed">
      <a class="nav-item-fixed" href="empresa.html" id="menu_empresa">
        <img src="../assets/svg/empresa_white.svg" alt="Empresa" class="nav-icon-fixed" />
        <span class="nav-text-fixed">Empresa</span>
      </a>
    </nav>
  </div>

  <div class="sidebar-footer-fixed">
    <div class="support-contact-box" id="menu_suporte_desktop">
      <div class="support-icon-wrapper">
        <p class="support-title">Precisa de ajuda?</p>
      </div>

      <p class="support-description">Fale com nossos agentes</p>

      <a href="https://oberon-sis.atlassian.net/servicedesk/customer/portal/34/user/login?destination=portal%2F34"
        class="btn-contact-fixed">
        Contate-nos
      </a>
    </div>

    <div class="profile-footer-area dropup" style="position: relative; height: auto" id="menu_usuarios">
      <a href="#" class="profile-footer-link dropdown-toggle" role="button" id="profileDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../assets/svg/user_white.svg" alt="User Profile" class="profile-footer-img" />
        <div class="profile-info">
          <span class="profile-name" id="nome_de_usuario">Fernanda Caramico</span>
          <span class="profile-name" id="email_de_usaurio">fernanda@sptech.school</span>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark mini_menu_completo" aria-labelledby="profileDropdown"
        style="top: 0 !important">
        <li>
          <a class="dropdown-item mini-menu" href="gerenciamentoDadosUsuarios.html">Meu Perfil</a>
        </li>
        <li>
          <a class="dropdown-item mini-menu" href="https://slack.com/" target="_blank">Acesso Rápido Slack</a>
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item logout-item mini-menu" href="login.html">Sair</a></li>
      </ul>
    </div>
  </div>
</aside>
<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="offcanvasSidebar"
  aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header border-bottom border-secondary">
    <h5 class="offcanvas-title text-white" id="offcanvasSidebarLabel">Menu</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-4 d-flex flex-column">
    <div class="mb-4 text-center">
      <a href="home.html" class="navbar-brand">
        <img src="../assets/marca/logo_branco.png" alt="Logo" style="width: 140px" />
      </a>
    </div>

    <nav class="nav flex-column mb-5 flex-grow-1">
      <a class="nav-link offcanvas-link active-link" href="home.html" id="menu_home_mobile">
        <img src="../assets/svg/home_white.svg" class="icone_nav" alt="Home" /> Home
      </a>

      <div class="nav-item-accordion mb-1" id="menu_paineis_container_mobile">
        <a class="nav-link offcanvas-accordion-toggle" data-bs-toggle="collapse" href="#submenuPainelMobile"
          role="button" aria-expanded="false" aria-controls="submenuPainelMobile" id="menu_paineis_mobile">
          <img src="../assets/svg/painel_white.svg" alt="Painéis" class="icone_nav" /> Painéis
          <img src="../assets/svg/arrow_down_white.svg" alt="Toggle" class="accordion-arrow" />
        </a>
        <div class="collapse" id="submenuPainelMobile">
          <a class="offcanvas-submenu-item" href="painel.html" id="painelMonitoramento_mobile">Monitoramento Ativo</a>
          <a class="offcanvas-submenu-item" href="painelEspecifico.html" id="painelHistorico_mobile">Análise
            Histórica</a>
        </div>
      </div>

      <a class="nav-link offcanvas-link" href="alertas.html" id="menu_alertas_mobile">
        <img src="../assets/svg/alertas_white.svg" class="icone_nav" alt="Alertas" /> Alertas
      </a>
      <a class="nav-link offcanvas-link" href="suporte.html" id="menu_suporte_mobile">
        <img src="../assets/svg/suport_white.svg" class="icone_nav" alt="Suporte" /> Suporte
      </a>
      <a class="nav-link offcanvas-link" href="documentacao.html" id="menu_documentacao_mobile">
        <img src="../assets/svg/documentation_white.svg" class="icone_nav" alt="Documentação" />
        Documentação
      </a>

      <div class="mt-4" id="gestaoAreaMobile">
        <h6 class="text-uppercase text-secondary mb-3 small" id="menu_gestao_mobile">Gestão</h6>
        <div class="nav flex-column">
          <a class="nav-link offcanvas-link" href="gerenciamentoUsuarios.html" id="menu_usuarios_mobile">
            <img src="../assets/svg/users_white.svg" alt="Usuários" class="icone_nav" /> Usuários
          </a>
          <a class="nav-link offcanvas-link" href="gerenciamentoMaquinas.html" id="menu_maquinas_mobile">
            <img src="../assets/svg/maquinas_white.svg" alt="Máquinas" class="icone_nav" /> Máquinas
          </a>
          <a class="nav-link offcanvas-link" href="auditoria.html" id="nmenu_auditoria_mobile">
            <img src="../assets/svg/auditoria_white.svg" alt="Auditoria" class="icone_nav" />
            Auditoria
          </a>
        </div>
      </div>

      <div class="mt-4" id="adminAreaMobile">
        <h6 class="text-uppercase text-secondary mb-3 small" id="menu_admin_mobile">
          Administração
        </h6>
        <div class="nav flex-column">
          <a class="nav-link offcanvas-link" href="empresa.html" id="menu_empresa_mobile">
            <img src="../assets/svg/empresa_white.svg" alt="Empresa" class="icone_nav" /> Empresa
          </a>
        </div>
      </div>
    </nav>

    <div class="mt-auto pt-3">
      <div class="profile-footer-area-mobile">
        <a href="gerenciamentoDadosUsuarios.html" class="profile-link-mobile">
          <img src="../assets/img/profile-placeholder.png" alt="User Profile" class="profile-footer-img" />
          <div class="profile-info-mobile">
            <span class="profile-name">Fernanda Caramico</span>
            <span class="profile-email">fernanda.caramico@sptech.school</span>
          </div>
        </a>
      </div>

      <a href="login.html" class="btn-secondary btn border-10 flex-row btn-verde w-100 mt-3">
        <img src="../assets/svg/painel_white.svg" alt="Sair" class="icone_nav me-2" />
        Sair
      </a>
    </div>
  </div>
</div>