:root {
  --verde_claro: #BADCDA;
  --verde_obscuro: #0C8186;
}

html {
     width: 100vw;
     background-color: #f2f4f6;
}

body {
     overflow-x: hidden;
     width: 100%;
     height: 100%;
     font-family: Arial, sans-serif;
}



.padding_main {
     padding-top: 1.5rem;
     padding-left: 0rem;
     padding-right: 0.6rem;
}

@media (min-width: 767px) {
     .padding_main {
          padding-top: 0rem;
          padding: 1.5rem;
     }
}

.verde_claro{
     background-color: var(--verde_claro);
     color: black;
     transition: ease-in-out 200ms;
}
.verde_claro:hover{
     background-color: var(--verde_obscuro);
     color: white;
}
.botao_branco{
     border: solid var(--verde_obscuro) 1px !important;
}
.botao_branco:hover{
     background-color: var(--verde_obscuro);
     color: white !important;
}
.input_pesquisa:focus {
    outline: none !important;
    box-shadow: 0 0 0 1px var(--verde_obscuro)!important; /* Exemplo de verde com um pouco de transparência */
}
@media (min-width: 2000px) {
  main {
    max-width: 1200px; 
    margin: 0 auto;  
  }
}