
.txt-dados{
    border-bottom: 1px solid  grey  ;
}

.cont_tudo{
    display: flex;
    justify-content: flex-start;
    height: 50%;
    width: 90%;
    background-color: #ffffff;
    
}
@media (max-width: 900px) {
.cont_tudo{
    flex-direction: column;
    width: 100%;
}
.container01{
    width: 100% !important;
}
}
.container01{
    background-color: white;
    width: 50%;
    height: 60% ;
    padding: 30px;
    border-radius: 0.5rem;
    display: block;
    justify-content: flex-start;
     border-radius: 10px;
    
}

#nome, #email, #tipo, #telefone {
    padding-left: 10px;
}



.excluir-btn{
    margin-top: 3px;
    
    background-color: #003b46;
    height: 5vh;
    width: 98%;
    color: white;
    border: none;
    align-self: center;
     border-radius: 10px;
}

.atualizar-btn{
     background-color: #BADCDA;
    height: 5vh;
    width: 99%;
    color: black;
    border: none;
    justify-self: center;
     border-radius: 10px;
    
}

.excluir-btn:hover {
  background-color: #883C3C;
  
}

.atualizar-btn:hover {
  background-color: #076e26;
  color: #fff !important;
  
}

.ipt{
    border: none;
    background-color: #F2F4F8;
    border-bottom: 1px solid gray ;
    padding: 20px;
    height: 3vh;
    width: 100%;
    
}
input::placeholder {
    color: #888;
}

input:focus {
    outline: none;
    border-color: none;
    box-shadow: none;
    background:none;
}

.label-esp{
    padding: 5px;
}



#CNPJ{
    border-bottom: 1px solid gray;
    padding-bottom: 16px;
}



.cont-usuario{
    /* background-image: url(../assets/marca/2\ 2.png); */
    height: 25vh; 
    background-repeat: space;
    pad: 5px;
    margin-left: 8px;
    width: 95%;
    background-color: #BADCDA;
    border-radius: 10px;
}

#txt-tudo{
    padding: 20px;
}

#tipo{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#titleh2{
    margin-left: 8px;
}